name: Test

on:
  workflow_dispatch:
  pull_request:
    branches: main
  push:
    branches: main
  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: dev
          activate-environment: true
          cache: true
          frozen: true

      - name: Cache GrIMP Inventory
        id: cache-inventory
        uses: actions/cache@v5
        env:
          CACHE_NUMBER: 2026-02-19
        with:
          path: isce2grimp/data/asf_inventory.gpkg
          key:
            inventory-${{ env.CACHE_NUMBER }}

      - name: Update Sentinel1 Inventory
        run: update_inventory

      # - name: Diagnositics
      #   run: | 
      #       pwd
      #       ls -ltrh */*

      - name: Run PyTest
        run: pytest
